
body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient( #ffffff 50%);
  font-family: "helvetica neue";
}
main {
  text-align: center;
  flex:  0 auto;
}
h1 {
  color: #fff;
  padding: 10px;
  font-family: cursive;
}

.box {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  border-radius: 15px;
  box-shadow: 0 2px 15px -5px rgba(0, 0, 0, 1);
}
.box1 {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  border-radius: 15px;
  box-shadow: 0 2px 15px -5px rgba(0, 0, 0, 1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.box1:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 4px 5px 0 0 rgb(0, 0, 0);
}

.box1:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

#heading {
  background-color: #3b3b3b;
  text-align: center;
}
form.edit {
  display: flex;
}

.item {
  min-height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #f1f1f1;
  padding: 0 15px;
}

.item:last-child {
  border-bottom: 0;
}

input[type="checkbox"] {
  margin: 20px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 25px;
  color: #00204a;
  flex-grow: 1;
  font-family:  cursive;
  font-weight: 500;
  line-height: 1;
}

form.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 5px;
  margin: 0;
}

button.add {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #3b3b3b;
  color: #fff;
  font-size: 30px;
  border-width: 0;
}

button.add:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

button.edit, button.delete {
  margin-left: 0px;
  margin-right: 20px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s;
}

button.delete {
  margin-right: 5px;
}

button.delete:hover {
  transform: scale(1.1);
}

button.edit:hover {
  transform: scale(1.1);
}

button.delete img.icon {
  filter: opacity(0.6);
  height: 18px;
  width: 16px;
}

button.delete:hover img.icon {
  filter: opacity(1);
}

.icon {
  height: 20px;
  width: auto;
}

.completed {
  text-decoration: line-through;
  color: #808080;
}

input[type="text"] {
  text-align: left;
  height: 50px;
  border: none;
  background: transparent;
  font-size: 22px;
  font-weight: 500;
  width: calc(100% - 70px);
  transition: all 0.3s ease;
  font-family: cursive;
  margin-right: 10px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #3b3b3b;
}

::placeholder {
  color: lightgray;
  opacity: 1;
}

/* From Uiverse.io by ArnavK-09 */ 
.container {
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    0deg,
    black,
    1px,
    white 1px,
    transparent 1px,
    transparent 30px
    white
  );
  background-size: 100% 30px;
  background-color: white;
}
