
body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 95vh;
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient( #e4e9fd 50%);
  font-family: "helvetica neue";
}
main {
  text-align: center;
  flex:  0 auto;
}
h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 15px -5px rgba(0, 0, 0, 0.2);
}
.box1 {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 0 0 black;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.box1:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 4px 5px 0 0 black;
}

.box1:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

#heading {
  background-color: #8052cf;
  text-align: center;
}
form.edit {
  display: flex;
}

.item {
  min-height: 90px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  padding: 0 15px;
}

.item:last-child {
  border-bottom: 0;
}

input[type="checkbox"] {
  margin: 20px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  color: #00204a;
  flex-grow: 1;
}

form {
  text-align: center;
  margin-left: 20px;
  padding-bottom: 80px;
}

button.add {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #8052cf;
  color: #fff;
  font-size: 30px;
  border-width: 0;
}

button.edit, button.delete {
  margin-left: 0px;
  margin-right: 20px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s;
}

button.delete {
  margin-right: 5px;
}

button.delete:hover {
  transform: scale(1.1);
}

button.delete img.icon {
  filter: opacity(0.6);
  height: 18px;
  width: 16px;
}

button.delete:hover img.icon {
  filter: opacity(1);
}

.icon {
  height: 20px;
  width: auto;
}

.completed {
  text-decoration: line-through;
  color: #808080;
}

input[type="text"] {
  text-align: left;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 80%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #8052cf;
}

::placeholder {
  color: lightgray;
  opacity: 1;
}